#root {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.app-logged-out {
  max-width: 1280px;
}

header {
  padding-bottom: 0.25rem;
  margin-bottom: 0.75rem;
  border-bottom: 1px solid #ddd;
}

.tagline {
  font-size: 1.2rem;
  color: #666;
  margin-top: -10px;
}